<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Attribute Manager</div>
  <div class="card-body">
    <h6 class="card-title">{{featureCount}} Features selected</h6>
    <small class="card-text">{{command}}
    </small>
    
    <div class="mt-3">
      <button  [disabled]="featureCount==0" type="button" class="btn btn-secondary" (click)="onExportClick()">Export</button>
      <button *ngIf="featureCount" type="button" (click)="clearSelction()" class="btn btn-info ml-3">Clear</button>

    </div>
  </div>
</div>